.card {
    display: inline-block;
    width: 22.5%;
    margin-right: 24px;
    text-align: center;
    box-shadow: 0 0 6px #e8e8e8;
    background-color: #fff;
    cursor: pointer;
}
  
.item {
    border-radius: 4px;
    padding: 48px 0 64px;
}
  
.item p {
    color: #2b546a;
}